// @import './styles/tribe-event-widget';
@import './styles/animations';
@import './styles/sjb';

/* Header 
==================================== */
#main-header:not(.et-fixed-header) {
  // when header not fixed mode
}

.home-hero.et_pb_slider:hover .et-pb-arrow-prev {
	left: 80px;
}

/* Main 
==================================== */

/* Loader */
#mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
  bottom: 0;
  background-color: white;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
	height: 100%;
	z-index: 99999999;
}

#loader {
  width: 120px;
  height: 120px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url('./image/logo.png');
	background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin: -100px 0 0 -100px;
  animation-name: pulse;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.et-fb #mask {
  position: static!important;
}

/* Sidebar
==================================== */
#sidebar {
  // font-size: 14px;
  // line-height: 21px;
}

#left-area {
	padding-bottom: 0px!important;
}

/* Footer
==================================== */
#main-footer {
  height: auto;
  padding-bottom: 0px;
}

#main-footer .footer-widget ul > li > a:hover {
  text-decoration: underline;
}

#footer-bottom {
  // padding-bottom: 30px;
}

/* Posts
==================================== */

.et_pb_post .et_post_meta_wrapper {
	margin-bottom: 30px!important;
}

.et_pb_post .et_post_meta_wrapper .entry-title {
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-size: 50px;
    line-height: 1.3em;
}

.et_pb_post .et_post_meta_wrapper .post-meta {
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #999;
	line-height: 2em;
	text-transform: uppercase;
}

.et_pb_post .et_post_meta_wrapper .post-meta a {
	color: #8300e9!important;
}

.et_pb_post .et_post_meta_wrapper img {
	display: none!important;
}

.et_pb_post a.more-link {
	font-size: 14px;
	font-weight: 500;
	color: #401A9B;
	text-transform: capitalize;
	background: rgba(161,0,255,0.2);
	margin-top: 20px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 20px;
	border-radius: 50px;
}

/* Custom Post Types
==================================== */
.et_pb_pagebuilder_layout.single-medical_products #page-container .et_pb_row {
  width: 100%;
}

.et_pb_pagebuilder_layout.single-medical_products #page-container .et_pb_with_background .et_pb_row {
  width: 8
}

.sjb-page .sjb-filters {
	background: none!important;
	padding-left: 0px;
	padding-right: 0px;
}

.single .et_pb_post {
  margin-bottom: 0;
}

.single-medical_products .et_post_meta_wrapper img {
	width: auto!important;
}

/* Medical Products Grid */
.medical-products-grid > div {
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
	font-size: 15px;
	line-height: 2em;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
}
.medical-products-grid .et_pb_post {
	flex-basis: calc(33% - 10px);
	padding: 0px;
	border: none;
	border-radius: 25px;
	box-shadow: 0px 30px 50px -30px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 30px 50px -30px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 30px 50px -30px rgba(0,0,0,0.1);
  overflow: hidden;
}
.medical-products-grid .et_pb_image_container,
.medical-products-grid .et_pb_post .entry-featured-image-url {
	margin: 0px;
	margin-bottom: 0px;
}
.medical-products-grid h2.entry-title {
	font-size: 22px;
	line-height: 1.5em;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}
.medical-products-grid .post-content {
	font-weight: 300;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

/* Animations
==================================== */
@keyframes logoInfiniteUp {
  from {
    transform: none;
  }

  to {
    transform: translate3d(0, calc(-50% + 15px), 0);
  }
}

@keyframes logoInfiniteLeft {
  from {
    transform: translate3d(calc(-10% + 15px), 0, 0);;
  }

  to {
    transform: translate3d(calc(-100% + 15px), 0, 0);
  }
}


/* Media Queries
==================================== */

/* tablet portrait start */
@media (min-width: 768px) {
}

/* tablet portrait only */
@media (min-width: 768px) and (max-width: 991px) {
}

/* tablet landscape start*/
@media (min-width: 992px) {
}

/* tablet Landscape only */
@media (min-width: 992px) and (max-width: 1024px) {
}

/* small desktop start */
@media (min-width: 1025px) {
}
